<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Update person</title>
    <style>
        div {
            margin: 10px;
            padding: 10px;
        }

        .mainContainer {
            background-color: #80deea;
            backface-visibility: hidden;
        }
        .top {
            margin-bottom: 100px;
        }
        body {
            background-color: #eceff1;
        }
    </style>
</head>
<body>
<p class="top"></p>
<div class="col-8 container mainContainer">
    <h1>Update user properties</h1>
    <form class="row g-3" action="#" th:action="@{/update/{id}(id=${person.id})}" th:object="${person}"  method="post">
        <div class="row justify-content-between container">
            <div class="col-md-5">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" class="form-control" th:field="*{firstName}" id="firstName" required>
            </div>
            <div class="col-md-5">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" class="form-control" th:field="*{lastName}" id="lastName" required>
            </div>
        </div>

        <div class="row justify-content-between container">
            <div class="col-md-3 form-group">
                <label for="date">Date</label>
                <input type="date" name="date" th:field="*{date}" id="date" class="form-control">
            </div>

            <div class="col-md-5 form-group">
                <label for="region">Enter region: </label>
                <input type="text" th:field="*{region}" placeholder="Region" class="form-control" id="region">

            </div>
            <div class="col-md-3">
                <label for="year" class="form-label">Age</label>
                <input type="number" min="1" max="100" step="1" th:field="*{year}" value="18" class="form-control" id="year" required>
            </div>
        </div>




        <div class="col-3">
            <button class="btn btn-primary" type="Update">Submit form</button>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>


</body>
</html>